html {
  background-color: rgb(231, 225, 225);
}

body {
  text-align: left;
  font-size: 16px;
}

header {
  background-color: rgb(54, 54, 241);
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #fff;
}

h2{
  font-size:16px;
}

p {
  font-size: 100%;
  text-align: center;
 
  height: 100px;
}

ul1 {
  float: left;
  width: 40%;
  margin-left: 10%;
}

ul2 {
  float: right;
  width: 40%;
  margin-right:10%;
}

li {
  text-align: left;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #FFF;
  
  /* 定義 */
  cursor: pointer;
}

li:hover {
  background: #0066CC;
  color: #fff;
}
textarea{
  margin: 3%;
  width: 30%;
  height: 30px;
  font-size:50%;
  box-shadow: 3px 3px 3px 3px #555;
}
